**/node_modules
**/.venv
**/dist

.github
.git
.ipynb_checkpoints
.ipython
.jupyter
# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
