class {{ node.name.value }}:
    # Transformed class implementation
    {% for method in node.body.body %}
    def {{ method.name.value }}(self{% if method.params.params %}, {% endif %}
        {% for param in method.params.params %}
            {{ param.name.value }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    ):
        # Transformed method implementation
        pass
    {% endfor %}